@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
}
header#header01{
    border-bottom: 1px gray solid;
    height: 100px;
}
header#header01 img{
    position: absolute;
    width: 150px;
    left: 250px
}
nav{
    display: block;
}
nav ul{
    list-style: none;
    position: relative;
    top:100px;
    left: 35%;
}
nav li{
    display: inline-block;
    background-color:#ffff99;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav li:hover{
    background-color: #DAFFCC;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}
body{
    background-color: #DAFFCC;
    color: black;
}
main{
    background-color: #ffff99;
    width: 70%;
    padding: 5%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(25, 26, 27, 0.884);
}
p{
    text-align: justify;
    text-indent: 50px;
}
img {
}
section#profile{
    margin: 5%;
    float:top;
}
section#profile p{
    position: absolute;
    top:60%;
    left: 35%;
    right: 30%;
}
figure.profile img{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: #FFC8CC;
}

figure.foto-legenda{
    margin: 0% 25% 0% 25%;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    background-color: #FFC8CC;
}
figure.foto-legenda img{
    width: 100%;
    height: auto;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 100%;
}
