@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
}
header#header01{
    border-bottom: 1px gray solid;
    height: 100px;
}
header#header01 h1{
    position: absolute;
    top: 100px;
    left: 40%;
    text-decoration: none;
}
header#header01 a{
    color: black;
    text-decoration: none;
}
header#header01 img{
    position: relative;
    width: 135px;
}
nav{
    display: block;
}
nav ul{
    list-style: none;
    position: absolute;
    top: 0px;
}
nav li{
    display: inline-block;
    background-color:#ffff99;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav li:hover{
    background-color: #DAFFCC;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}
body{
    background-color: #DAFFCC;
    color: black;
}
main{
    background-color: #ffff99;
    width: 700px;
    padding: 5%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(25, 26, 27, 0.884);
}
section#profile{
    display: block;
}
section#profile p{
    width: 400px;
    text-align: justify;
    text-indent: 50px;
    float: right;
}
section#contact{
    display: block;
}
figure.profile img{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: #FFC8CC;
    float: left;
}
footer{
    clear: both;
}
footer p{
    text-align: center;
}